<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @fnbl_tel_no.userid %>
</p>
<p>
  <b>First Name:</b>
  <%= @fnbl_tel_no.first_name %>
</p>
<p>
  <b>Last Name:</b>
  <%= @fnbl_tel_no.last_name %>
</p>
<p>
  <b>Type:</b>
  <%= @fnbl_tel_no.type1 %>
</p>
<p>
  <b>Number:</b>
  <%= @fnbl_tel_no.value %>
</p>

<%= link_to 'Back', fnbl_tel_nos_path %>
