<%= form_for(@fnbl_pim_contact_item) do |f| %>
  <% if @fnbl_pim_contact_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fnbl_pim_contact_item.errors.count, "error") %> prohibited this fnbl_pim_contact_item from being saved:</h2>

      <ul>
      <% @fnbl_pim_contact_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
