<h1>Listing fnbl_pim_contacts</h1>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Type</th>
    <th>Number</th>
  </tr>

<% @fnbl_pim_contacts.each do |fnbl_pim_contact| %>
  <% fnbl_pim_contact.fnbl_pim_contact_items.each do |fnbl_pim_contact_item|%>
    <tr>
      <td><%= fnbl_pim_contact.first_name %></td>
      <td><%= fnbl_pim_contact.last_name %></td>
      <td><%= fnbl_pim_contact_item.type1 %></td>
      <td><%= fnbl_pim_contact_item.value %></td>
    </tr>
  <% end %>
<% end %>
</table>
<%= link_to 'Back', fnbl_users_path %>

<br />

